<h1>Update Owner: <%= @owner.name %></h1>

  <% if flash[:error].present? %>
    <div class='flash flash-error'>
      <%= flash[:error] %>
    </div>
  <% end %>

<%= render partial: 'form', locals: { owner: @owner } %>
