<section>
  <% if @owners.empty? %>
    <strong>There is no owners...</strong>
  <% else %>
    <h1>Owners</h1>
    <ul>
      <% @owners.each do |owner| %>
        <%= render partial: 'list', locals: { owner: owner, view: 'index' } %>
      <% end %>
    </ul>
  <% end %>
</section>
