<p>
    this is the students partial!
</p>


<% if students.empty? %>
  <h3>La lista esta vacia!</h3>
<% else %>
  <h3>La lista esta llena!</h3>

  <ul>
    <% students.each do |student| %>

      <li>
        El estudiante con el ID # <%= student[:id] %> se llama <%= student[:name] %>
      </li>

    <% end %>
  </ul>
<% end %>
