<h1>About Page</h1>
<span>This file is located at: <b>app/views/home/about.html.erb</b> </span>

<span>
    <strong>Nombre:</strong> Jose Arce
</span>
<span>
    <strong>Correo:</strong> jp.arce@gmail.com
</span>
</span>
<span>
    <strong>Tel:</strong> +506 9999 9999
</span>