<section>
  <% if @animals.empty? %>
    <strong>No Hay Animales</strong>
  <% else %>
    <h1>Animals</h1>
    <ul>
      <% @animals.each do |animal| %>

        <li>
          <b>Animal:</b> <%= link_to animal.species, animal %>
        </li>

      <% end %>
    </ul>
  <% end %>
</section>