.errors-list {
  color: red;
}

.field_with_errors > input {
  border-color: red;
  border-width: 1px;
}

.flash {
  text-align: center;
  padding: 2em;
  margin: 0.6em;
  border: 1px solid;
  border-radius: 5px;
}

.flash-notice {
  color: blue;
  background-color: rgb(218, 218, 243);
}
.flash-success {
  color: green;
  background-color: rgb(223, 243, 218);
}

.flash-error {
  color: red;
  background-color: rgb(243, 218, 218);
}
